<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Video Downloader</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        {% block body %}{% endblock body %}
    </div>
</body>

<footer class="relative min-h-40 w-full bg-black">
    <h2 class="absolute left-10 top-1/2 -translate-y-1/2 text-2xl font-medium text-white">Just A Video Downloader</h2>
    <a class="absolute left-48 top-1/2 -translate-y-1/2 cursor-pointer pt-14 text-gray-400 hover:text-white">about me</a>
</footer>
</html>